*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #DDD;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo i.fa-money-bill-alt{
    font-size: 80px;
}

.logo-name{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.loginpage{
    background-color: #0000cd;
}

.loginpage .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
}

.loginarea{
    width: 100%;
    max-width: 400px;
    background-color: #191970;
    padding: 20px;
    border-radius: 10px;
    color: #FFFFFF;
}

.loginarea--form{
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.loginarea--form label{
    display: flex;
    margin-top: 30px;
}

.loginarea--form i{
    background-color: #BBBBBB;
    padding: 5px;
    border: 0;
    font-size: 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}


.loginarea--form input{
    width: 100%;
    padding-left: 10px;
    font-size: 25px;
    line-height: 30px;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.loginarea--form input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.loginarea--form button{
    width: 100%;
    margin-top: 30px;
    background-color: #FFFFFF;
    padding: 10px 0;
    border: 0;
    border-radius: 5px;
    color: #191970;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.loginarea a{
    display: block;
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

header .container,
.transaction .container,
.account--info .container{
    width: 100%;
    max-width: 1024px;
    padding: 10px;
}

header{
    background-color: #191970;
    color: #FFFFFF;
    font-size: 25px;
}

.account--info{
    background-color: #191970;
    color: #FFFFFF;
    font-size: 18px;
}

.account--info a{
    display: block;
    background-color: #FFFFFF;
    width: 50px;
    height: 30px;
    margin-top: 5px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    color: #191970;
}

.balance--info{
    background-image: linear-gradient(to bottom, #191970 30%, #0000cd 70%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFF;
}

.balance--title{
    font-size: 30px;
    font-weight: bold;
}

.account--balance{
    font-size: 25px;
}

.transaction .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transaction--buttons{
    display: flex;
    margin: 5px 15px;
}

.transaction--buttons a{
    display: block;
    text-decoration: none;
}

.transaction--buttons a,
.transaction--form button{
    width: 110px;
    background-color: #191970;
    margin: 5px 15px;
    padding: 6px 0;
    border: 0;
    border-radius: 2px;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.transaction--title{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #191970;
    text-align: center;
}

.transaction--table{
    background-color: #BBBBBB;
    display: grid;
    width: 100%;
    margin-top: 10px;
    grid-template-columns: auto auto;
}

.table-item--header{
    background-color: #191970;
    color: #FFFFFF;
    padding: 8px;
    font-size: 20px;
}

.table-item--values{
    padding: 5px;
}

.transaction--form{
    display: flex;
    flex-direction: column;
    background-color: #BBBBBB;
}

.table-item--form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.transaction--form input{
    width: 90%;
    padding: 4px;
    font-size: 20px;
}