*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.loginpage{
    background-color: #0000cd;
}

.loginpage .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loginarea{
    background-color: #191970;
    padding: 20px ;
    border-radius: 10px;
    color: #FFFFFF;
}

.loginarea--bankname{
    font-size: 40px;
    font-weight: bold;
}

.loginarea--form{
    margin-top: 20px;
}

.loginarea--form label{
    display: flex;
}

i{
    background-color: #CCCCCC;
    padding: 4px;
    border: 0;
    font-size: 20px;
    cursor: pointer;
}

.loginarea--form input{
    width: 200px;
    height: 30px;
    padding-left: 4px;
    font-size: 20px;
    line-height: 30px;
    border: 0;
}

.loginarea--form button{
    background-color: #FFFFFF;
    width: 80%;
    margin-left: 20px;
    padding: 4px;
    border: 0;
    border-radius: 5px;
    color: #191970;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}