*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.loginpage{
    background-color: #0000cd;
}

.loginpage .container{
    display: flex;
}

.loginpage .container{
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loginarea{
    background-color: #191970;
    padding: 20px ;
    border-radius: 10px;
    color: #FFFFFF;
}

.loginarea--bankname{
    font-size: 40px;
    font-weight: bold;
}

.loginarea--form{
    margin-top: 20px;
}

.loginarea--form label{
    display: flex;
}

i{
    background-color: #BBBBBB;
    padding: 4px;
    border: 0;
    font-size: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}

.loginarea--form input{
    width: 200px;
    height: 30px;
    padding-left: 4px;
    font-size: 20px;
    line-height: 30px;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.loginarea--form input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.loginarea--form button{
    background-color: #FFFFFF;
    width: 80%;
    margin-left: 20px;
    padding: 4px;
    border: 0;
    border-radius: 5px;
    color: #191970;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.loginarea a{
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #FFFFFF;
}

header .container,
.transaction .container,
.account--info .container{
    width: 80%;
    margin: auto;
}

header{
    background-color: #191970;
    color: #FFFFFF;
    font-size: 25px;
}

.account--info{
    background-color: #191970;
    color: #FFFFFF;
    font-size: 18px;
}

.balance--info{
    background-image: linear-gradient(to bottom, #191970 30%, #0000cd 70%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFF;
}

.balance--title{
    font-size: 30px;
    font-weight: bold;
}

.account--balance{
    font-size: 25px;
}

.transaction--buttons{
    display: flex;
}

.transaction--buttons a{
    display: block;
    width: 100px;
    background-color: #191970;
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 15px;
    padding: 5px 0px;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
}